---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { class: className, href = "#inicio" } = Astro.props;
---

<a
  href={href}
  class:list={[
    "group inline-flex w-fit select-none items-center leading-none",
    className,
  ]}
  data-scroll-to="inicio"
>
  <span
    class="font-black tracking-[-0.06em] text-white text-[1.4rem] md:text-[1.55rem] lg:text-[1.7rem]"
  >
    Tuga<span class="text-tuga-brand">App</span>
  </span>
</a>
